{{> navBar}}
<div class="post">
  <h3>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <p>{{format_date post.createdAt}}</p>
  <h4>Comments:</h4>
  {{#each post.comments}}
    <div class="comment">
      <p>{{comment_text}}</p>
      <p>{{user.username}}</p>
    </div>
  {{/each}}
</div>
<div class="post">
  <h3>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <h4>Add a Comment:</h4>

 <form class="commentForm">
  <input type="hidden" id="user_id" value="1">
  <input type="hidden" id="post_id" value="{{post.id}}">
  <textarea id="comment_text"></textarea>
  <button type="submit">Submit Comment</button>
</form>

  <h4>Comments:</h4>
  {{#each post.comments}}
    <div class="comment">
      <p>{{comment_text}}</p>
    </div>
  {{/each}}
</div>
<script src="./post.js"></script>