 <a href="/post/{{this.id}}">
   <div class="card offset-1 col-10 mb-4" id="{{this.id}}">
        <header>
          <h3>{{title}}</h3>
        </header>
        <div class="card-body">
          <p>
            {{this.content}}
          </p>
          <p>By: {{this.user_id}}</p>
        </div>
   
        <button  type="button">Comment</button>
   </div>
 </a>